@import url('https://fonts.googleapis.com/css?family=Lato:700,900');
/* ==========================================================================
work section
========================================================================== */
img {
max-width: 100%;
height: auto;
}
#work {
text-align: center;
padding:10px 0px;
}
#work .col-md-4{
margin-top:20px;
}
#work .fa{
font-size:40px;
}
#work .inner_box {
width: 100%;
padding:30px 10px;
position: relative;
transition: all 0.4s ease-in-out;
background-color: transparent;
}
#work .inner_box:hover {
background-color: aliceblue;
box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}
#work h3 {
font-size: 18px;
}
.readmore{
padding: 10px 35px;
border:3px solid #999999;
background-color: #D4D4D4;
border-radius:25px;
font-size:18px;
text-transform:uppercase;
color:#000000;
}
.readmore:hover{
text-decoration:none;
}
.download-div{text-align:center; margin-top:40px; padding:40px 0px; clear:both;}
.download{
padding:10px 30px;
background-color:#006699;
color:#000000;
font-size:24px;
text-transform:uppercase;
text-decoration:none;
margin-top:2px;
border-radius:10px;
}
.button.btn.btn-primary.btn-lg:hover {
text-decoration:none;
}
